/*------ base ------*/

body{
	font-size: 20px;
}

*{
    box-sizing: border-box;
}

a{
	text-decoration: none;
}

input{
	margin: 0;
	outline: none;
	border: none;
    font-size: 20px;
}

input[type="submit"]{
	line-height: 40px;
	cursor: pointer;
}

.main{
	width: 600px;
	padding-top: 60px;
	margin: 0 auto;
	text-align: center;
}

/*------ form ------*/

.form__title{
	margin-bottom: 45px;
	font-size: 30px;
}

.form__item{
	margin-bottom: 45px;
	text-align: left;
}

.form__item > label{
	display: block;
	margin-bottom: 15px;
	font-weight: bold;
}

.form__item > input[type="text"], .form__item > input[type="password"]{
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	line-height: 40px;
}

.form__item > input[type="submit"]{
	width: 100%;
}

.error-message{
	color: red;
	font-size: 16px;
}
